# Useless files
cmake-build-debug/
.idea/
*.o
*.out
bin/
Doxyfile
*.aux
*.idx
*.ilg
*.ind
*.toc
*.backup
.DS_store
docs/*
*.test
libclcxx/
lib/
tmp/
CMakeLists.txt
#file without extension?
data/test/
docs/

*_UN.jpg
data/convexHull.xml
data/intrinsic_calibration.xml

# Except the files
#!Makefile
