# Useless files
cmake-build-debug/
.idea/
*.o
*.out
bin/
Doxyfile
*.aux
*.idx
*.ilg
*.ind
*.toc
*.backup
.DS_store
docs/
*.test
libclcxx/
lib/
tmp/
CMakeLists.txt
#file without extension?

# Except the files
#!Makefile